## REQUIRED ##
email                       = "<your_email>"
billing_account             = "<BILLING_ACCOUNT_ID>"
name                        = "<project_name>"
## OPTIONAL ##
org_id                      = "<ORGANIZATION_ID>"
group_org_admins            = "<admin@domain>"
impersonate_service_account = "<seed_project service account>"
default_region              = "us-central1"